:root {
  --dark-liver: #584b53ff;
  --rose-dust: #9d5c63ff;
  --periwinkle-crayola: #d6e3f8ff;
  --seashell: #fef5efff;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 2vmin;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=PT+Sans:wght@700&display=swap');

html {
  color:black;
  background-color: var(--seashell);
}

main, header, footer {
  padding:2em 5% 1em ;
}

header {
  background-color:var(--dark-liver);
  color: var(--seashell);
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 1%;
}

header ul{
  display:flex;
  list-style: none;
  gap: 5vw;
}

header li {
  display:flex;
  justify-content: space-between;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}
header a {
  text-decoration: none;
}
header a:hover {
  text-shadow: red;
}

footer {
  border-top:solid var(--rose-dust) 5px;
  text-align:center;
}

body, h1, h2, h3, p {
  margin:0;
  padding:0;
}

a {
  color:inherit;
}


#frontpage #c2a {
  background-color:rgb(35, 108, 142);
  background-image: url('/ship\ website.JPG');
  background-size: cover;
  margin:-2em -6% 1em ;
  overflow:hidden
}
#frontpage #c2a h1 {
  text-align:center;
  flex-direction:column;
  height:50vw;
  width: 100%;;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--seashell);
  text-shadow: 5px 5px black;
  line-height: 100%;
  font-weight: 900;
}
#frontpage #c2a a{
  display:block;
  background-color:red;
  padding:2% 5%;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10% 0;
}
  
